.align-left {
  text-align: left;
}

.badge.text-lg {
  font-size: 1.5em;
  margin: 2px;
}

.user__header .badge.text-lg {
  font-weight: 600;
  font-size: 1.75em;
}

.user__item .badge {
  font-weight: 400;
}

.btn__container.col-12 {
    margin: 0;
    padding: 0;
    text-align: right; 
}

.btn__add {
    margin: 10px 0 10px 10px;
    padding-right: 0;
    width: 175px;
}
