.chat__container {
  margin: 0 20px;
  padding: 10px;
  height: calc(100vh - 170px);
  min-height: 550px;
  min-width: 600px;
  max-width: 1600px;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.chat__header {
  height: 30px;
  padding: 10px 5px;
  font-family: "Concert One", cursive;
}

.chat__header > * {
  border-radius: 5px;
  margin-right: 25px;
  padding: 5px 10px;

  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

.chat__last-msg {
  margin-left: auto;
  margin-right: 0;
}
