.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 5ms;
  opacity: 1;
}

.modal-edit {
  display: block !important;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  background: #efefef;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 500ms ease-in-out;
}

.modal-edit h2 {
  align-self: center;
  margin-top: 0;
  color: #333;
  font-family: "Roboto", sans-serif;
}

.modal__content {
  overflow: auto;
  flex-grow: 1;
  margin-bottom: 20px;
}

.modal__buttons {
  position: absolute;
  height: fit-content;
  top: 15px;
  right: 20px;
}

.modal__btn {
  all: unset;
  align-self: center;
  text-align: center;
  width: 25px;
  height: 25px;
  font-family: "Concert One", cursive;
  background-color: #e7e7e7;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #dedede;
  cursor: pointer;
}

.modal__btn:hover {
  background-color: #e3e3e3;
  border: 1px solid #dedede;
  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

@media screen and (max-width: 700px) {
  .modal-edit {
    width: 70%;
  }
}
