.chat__header {
  height: 30px;
  padding: 10px 5px;
  font-family: "Concert One", cursive;
}

.chat__header > * {
  border-radius: 5px;
  margin-right: 25px;
  padding: 5px 10px;

  -webkit-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
  box-shadow: 0px 0px 2px 1px rgba(170, 170, 170, 1);
}

.chat__last-msg {
  margin-left: auto;
  margin-right: 0;
}
