.spinner__container {
  height: 100vh;
  flex-grow: 1;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.spinner {
  display: flex;
  margin: auto;
  width: 64px;
  height: 64px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #dedede transparent #dedede transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
