.divider {
    display: flex;
    align-items: center;
    align-self: stretch;
    color: rgba(0, 0, 0, 0.35);
    margin: 8px 0px;
  }
  
  .divider::before,
  .divider::after {
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
  }